*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* NAV */
nav{
  width: 100%;
  height: 100px;
  background-color: #0d325a;
}
nav .container{
  width: 85%;
  margin: 0  auto;
}
.container::after{
  content:"";
  display: table;
  clear: both;
}
.logo_menu{
  float: left;
  line-height: 100px;
}
.hover_yellow{
  float: left;
  margin-left: 20px;
}
nav .container ul li{
  display: inline-block;
  font-size: 12px;
  float: left;
  line-height: 100px;
  margin-left: 15px;
}
nav .container a{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.login{
  float: right;
}
.green{
  background-color: #7fb802;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.border{
  border: 1px solid #4e8cb6;
  border-radius: 5px;
  padding: 10px 20px;
}
.login ul li:first-child{
  opacity: 0.5;
}
.hover_yellow a:hover{
  color: #f39c12;
}

/* PRIMA SEZIONE */
.prima_sezione{
  background-color: #0d325a;
}
.prima_sezione .container{
  width: 85%;
  margin:0 auto;
  height: 400px;
  position: relative;
}
.prima_sezione .col_1{
  float: left;
  width: 550px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.prima_sezione .col_1 h1{
  color: white;
  font-size: 50px;
}
.prima_sezione .col_1 a{
  padding: 15px;
  line-height: 100px;
}

/* SECONDA SEZIONE */
.seconda_sezione{
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px 30px;
}
.seconda_sezione h3{
  font-size: 25px;
  margin-bottom: 10px;
}
.seconda_sezione p{
  font-size: 20px;
  color: #999;
}

/* TERZA SEZIONE */
.terza_sezione{
  width: 95%;
  margin: 0 auto;
}
.col_3{
  width: 33.33%;
  float: left;
}
.terza_sezione .col_3{
  padding: 20px;
  margin-bottom: 80px;
  text-align: center;
}
.terza_sezione img{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px;
}
.terza_sezione .col_3 h2{
  color: #7fb802;
  font-size: 27px;
}
.terza_sezione .col_3 hr{
  width: 30px;
  margin: 0 auto;
  border: 1px solid #bdc3c7;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr{
  width: 95%;
  margin: 0 auto;
  border: 0.2px solid #bdc3c7;
}

/* QUARTA SEZIONE */
.quarta_sezione{
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
.col_2{
  width: 50%;
  float: left;
}
.quarta_sezione .text{
  width: 40%;
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
}
.quarta_sezione p{
  margin: 15px 0px;
}
.quarta_sezione h1{
  font-size: 30px;
}
.quarta_sezione a{
  color: #98c8f8;
}

/* QUINTA SEZIONE */
.quinta_sezione{
  background-color: #f9f9f9;
}
.quinta_sezione h3{
  margin-left: 100px;
  line-height: 100px;
  font-size: 30px;
}
.quinta_sezione ul li{
  display: inline-block;
  float: right;
  line-height: 100px;
  margin-right: 10px;
}
#style{
  color:grey;
  font-size: 30px;
  margin-right: 50px;
}
.quinta_sezione ul li:last-child{
  opacity: 0.3;
  font-size: 30px;
  margin-right: 50px;
}

/* SESTA SEZIONE */
.sesta_sezione{
  background-color: #0d325a;
  height: 450px;
  position: relative;
}
.sesta_sezione .container{
  width: 85%;
  height: 500px;
  margin: 0 auto;
}
.sesta_sezione h1{
  font-size: 30px;
}
.sesta_sezione p{
  font-size:20px;
  margin: 20px 0px;
  opacity: 0.5;
}
.sesta_sezione span{
  color:#f8b71c;
}
.sesta_sezione .col_2 .text{
  color:white;
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sesta_sezione a{
  color: #98c8f8;
}
.sesta_sezione img{
  width: 720px;
}
.sesta_sezione .col_2 .img{
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-50%);
  margin-right: 40px;
}
